<div class="col-sm-6 col-md-4">
    <div class="thumbnail">
        <% if post.metadata.try(:identifiers) %>
            <% post.metadata.try(:identifiers).each do |id| %>
                <img src="http://covers.openlibrary.org/b/<%= id.scheme %>/<%=  id.content %>-S.jpg" />
            <% end %> 
        <% end %> 
        <div class="caption">
            <% if post.metadata.try(:title) %>
                <h3><%= link_to post.metadata.title, post %></h3>
            <% end %>
            <p>by <%= post.metadata.creators.map(&:content).join(", ") %></p>
            <p><%= link_to 'Download', post.book.url, :class => "btn btn-default"   %></p>
        </div>
        <div class="media-body">
            <span class="text-muted pull-right">
                <small class="text-muted"><%= time_ago_in_words(post.created_at) %> ago</small>
            </span>
        </div>
    </div>
</div>