<li id="post-<%= post.id %>">
  <span class="user"><%= link_to post.user.email, post.user %></span>
    <span class="post"><%= link_to post.id, post  %></span>
  <span class="content"><%= post.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(post.created_at) %> ago.
  </span>
</li>