<li class="media" id="post-<%= post.id %>">
    <a href="#" class="pull-left">
        <%= link_to post.id, post  %>
        <span class="title"><%= post.display_name %></span>
        <img src="assets/img/1.png" alt="" class="img-circle">
    </a>
    <div class="media-body">
        <span class="text-muted pull-right">
            <small class="text-muted"><%= time_ago_in_words(post.created_at) %> ago</small>
        </span>
        <strong class="text-success">@ <%= link_to post.user.email, post.user %></strong>
        <p><%= post.content %></p>
    </div>
</li>