<li class="media" id="post-<%= posts.id %>">
    <a href="#" class="pull-left">
        <%= link_to posts.id, posts  %>
        <span class="title"><%= post.display_name %></span>
        <img src="assets/img/1.png" alt="" class="img-circle">
    </a>
    <div class="media-body">
        <span class="text-muted pull-right">
            <small class="text-muted"><%= time_ago_in_words(posts.created_at) %> ago</small>
        </span>
        <strong class="text-success">@ <%= link_to posts.user.email, posts.user %></strong>
        <p><%= posts.content %></p>
    </div>
</li>