<div class="row">
    <div class="span3">
        <% @post.metadata.identifiers.each do |id| %>
        <img src="http://covers.openlibrary.org/b/<%= id.scheme %>/<%=  id.content %>-S.jpg" />
        <% end %> 
    </div>
    <div class="span6">
        <h2><%= @post.metadata.title %></h2>
        <h3>by <%= @post.metadata.creators.map(&:content).join(", ") %></h3>
        <%= link_to 'Download', @post.book.url  %>

        <% @post.metadata.to_h.each do |t, a| %>
        <% if a.present? %>
        <h4><%= t %>: <%= a.map(&:content).join(", ")%></h4>
        <% end %> 

        <% end %>
    </div>
</div>